<template>
  <div class="home">
    <tasks-section />
  </div>
</template>

<script>
import TasksSection from '@/components/TasksSection'

export default {
  name: 'home',
  components: {
    TasksSection
  }
}
</script>
