<template>
  <div class="login-wrapper">
    <article class="login">
      <template v-if="isSignedIn">
        <h1>
          Hello User
        </h1>
        <c-button @click.native="logOut">Log Out</c-button>
        <p>
          <router-link to="/">Go to Home →</router-link>
        </p>
      </template>
      <template v-else>
        <h1 class="login__title">
          {{ title }}
        </h1>

        <form action="#" @submit.prevent="loginFormSubmit">
          <input-group type="email" label="E-mail" v-model="emailValue" />
          <input-group type="password" label="Password" v-model="passwordValue" />

          <p v-if="isSignIn">
            <input type="checkbox" id="rem" v-model="isRemember"> <label for="rem">Remember me</label>
          </p>

          <c-button v-if="isSignIn" type="submit">Sign in</c-button>
          <c-button v-else type="submit">Sign up</c-button>
        </form>

        <p>or...</p>

        <c-button @click.native="switchToSignUp" v-if="isSignIn">
          Go to Sign up →
        </c-button>
        <c-button @click.native="switchToSignIn" v-else>
          Go to Sign in →
        </c-button>

        <p v-if="signUpStatus">Sign Up status error: {{ signUpStatus }}</p>
        <p v-if="signInStatus">Sign In status error: {{ signInStatus }}</p>
      </template>
    </article>
  </div>
</template>

<script>
import InputGroup from '@/components/InputGroup'
import CButton from '@/components/CButton'
import { mapGetters, mapActions } from 'vuex'

export default {
  components: {
    InputGroup,
    CButton
  },
  data () {
    return {
      title: 'Sign in',
      emailValue: '',
      passwordValue: '',
      signUpStatus: '',
      signInStatus: '',
      isSignIn: true,
      isLoading: false,
      isRemember: false
    }
  },
  computed: {
    ...mapGetters([
      'isSignedIn'
    ])
  },
  methods: {
    ...mapActions([
      'getTokenFromStorage'
    ]),
    switchToSignUp () {
      this.title = 'Sign up'
      this.isSignIn = false
    },
    switchToSignIn () {
      this.title = 'Sign in'
      this.isSignIn = true
    },
    loginFormSubmit () {
      if (this.isSignIn) {
        this.signIn()
      } else {
        this.signUp()
      }
    },
    setTokenToStorage (token) {
      this.isRemember ? localStorage.setItem('token', token) : sessionStorage.setItem('token', token)
    },
    removeTokenFromStorage () {
      localStorage.removeItem('token')
      sessionStorage.removeItem('token')
    },
    async signUp () {
      try {
        this.isLoading = true
        await this.$api.signUp({
          email: this.emailValue,
          password: this.passwordValue
        })
      } catch (error) {
        this.signUpStatus = error
      } finally {
        this.isLoading = false
        this.isSignIn = true
      }
    },
    async signIn () {
      try {
        this.isLoading = true
        this.signInStatus = ''
        const { data } = await this.$api.signIn({
          email: this.emailValue,
          password: this.passwordValue
        })
        this.setTokenToStorage(data.token)
        this.getTokenFromStorage()
      } catch (error) {
        this.signInStatus = error
      } finally {
        this.isLoading = false
      }
    },
    logOut () {
      this.removeTokenFromStorage()
      this.getTokenFromStorage()
    }
  }
}
</script>

<style>
.login-wrapper {
  display: flex;
  min-height: 100vh;
}

.login {
  padding: 100px 80px;
  border-radius: 3px;
  box-shadow: var(--shadow);
  min-width: 500px;
  margin: auto;
  background-color: #ffffff;
}
.login__title {
  text-align: center;
  margin-top: 0;
}
</style>
