<template>
  <article class="new-task">
    <back-button>Back</back-button>

    <h1>
      Create new task
    </h1>

    <div class="new-task-wrapper">
      <form class="new-task__form" @submit.prevent="createNewTask">
        <div class="new-task__column">
          <input-group label="Title" v-model="title" :required="true" />

          <section class="new-task__group">
            <header>
              Priority
            </header>
            <p>
              <input type="radio" id="priority-high" name="priority" value="High" v-model="priority" required>
              <label for="priority-high">High</label>
            </p>
            <p>
              <input type="radio" id="priority-normal" name="priority" value="Normal" v-model="priority">
              <label for="priority-normal">Normal</label>
            </p>
            <p>
              <input type="radio" id="priority-low" name="priority" value="Low" v-model="priority">
              <label for="priority-low">Low</label>
            </p>
          </section>
        </div>
        <div class="new-task__column">

          <section class="new-task__group">
            <label style="margin-bottom: .25em; display: inline-block">Due date</label>
            <datepicker :inline="true" :disabledDates="disabledFn" v-model="dueBy" />
          </section>
        </div>

        <p class="new-task__submit">
          <c-button>Save</c-button>
        </p>
      </form>
    </div>
  </article>
</template>

<script>
import BackButton from '@/components/BackButton'
import CButton from '@/components/CButton'
import InputGroup from '@/components/InputGroup'
import Datepicker from 'vuejs-datepicker'

export default {
  components: {
    BackButton,
    CButton,
    InputGroup,
    Datepicker
  },
  data () {
    return {
      title: '',
      priority: '',
      dueBy: new Date(),
      disabledFn: {
        to: new Date(new Date().getTime() - 24 * 60 * 60 * 1000)
      }
    }
  },
  methods: {
    async createNewTask () {
      const task = {
        title: this.title,
        priority: this.priority,
        dueBy: Date.parse(this.dueBy) / 1000
      }

      try {
        await this.$api.createNewTask(task)
      } catch (error) {
        console.log(error)
      } finally {
        this.$router.push({ name: 'home' })
      }
    }
  }
}
</script>

<style>
.new-task-wrapper {
  padding: 24px;
  box-shadow: var(--shadow);
  border-radius: 3px;
  background-color: #fff;
}

.new-task__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.new-task__column {
  flex-basis: 45%;
}

.new-task__submit {
  flex-basis: 100%;
}
</style>
