<template>
  <article class="task" v-if="task.title">
    <back-button>Back</back-button>

    <h1 class="task__title">
      Task details
    </h1>

    <div class="tasks-table-wrapper">
      <section class="task-wrapper">
        <form @submit.prevent="submitTaskForm">
          <table class="tasks-table">
            <thead>
              <tr>
                <th v-for="header in taskTableHeaders" :key="header.id">
                  {{ header }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <template v-if="isEditMode">
                    <input-group label="Title" :required="true" v-model="task.title" />
                  </template>
                  <template v-else>
                    {{ task.title }}
                  </template>
                </td>
                <td>
                  <template v-if="isEditMode">
                    <section>
                      <header>
                        Priority
                      </header>
                      <p>
                        <input type="radio" id="priority-high" value="High" v-model="task.priority" required>
                        <label for="priority-high">High</label>
                      </p>
                      <p>
                        <input type="radio" id="priority-normal" value="Normal" v-model="task.priority" required>
                        <label for="priority-normal">Normal</label>
                      </p>
                      <p>
                        <input type="radio" id="priority-low" value="Low" v-model="task.priority" required>
                        <label for="priority-low">Low</label>
                      </p>
                    </section>
                  </template>
                  <template v-else>
                    {{ task.priority }}
                  </template>
                </td>
                <td>
                  <template v-if="isEditMode">
                    <datepicker :inline="true" :disabledDates="disabledFn" v-model="taskDueBy" />
                  </template>
                  <template v-else>
                    {{ task.dueBy | shortDate }}
                  </template>
                </td>
                <td>
                  <template v-if="isEditMode">
                    <button type="submit">Save</button>
                  </template>
                  <template v-else>
                    <button type="button" @click.prevent="toggleEditMode">Edit</button>
                  </template>

                  <button @click.prevent="deleteTask(taskId)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </section>
    </div>
  </article>
</template>

<script>
import BackButton from '@/components/BackButton'
import InputGroup from '@/components/InputGroup'
import Datepicker from 'vuejs-datepicker'

export default {
  components: {
    BackButton,
    Datepicker,
    InputGroup
  },
  data () {
    return {
      task: {},
      taskId: this.$route.params.id,
      taskDueBy: '',
      taskTableHeaders: [
        'Title',
        'Priority',
        'Date',
        'Actions'
      ],
      isEditMode: false,
      disabledFn: {
        to: new Date(new Date().getTime() - 24 * 60 * 60 * 1000)
      }
    }
  },
  watch: {
    $route () {
      this.taskId = this.$route.params.id
    }
  },
  methods: {
    async getTask (id) {
      try {
        const { data } = await this.$api.getTask(id)
        this.task = data.task
        this.taskDueBy = Number(this.task.dueBy) * 1000
      } catch (error) {
        console.log(error)
      }
    },
    async deleteTask (id) {
      try {
        await this.$api.deleteTask(id)

        this.$router.push({ name: 'home' })
      } catch (error) {
        console.log(error)
      }
    },
    async saveEditedTask (id, task) {
      try {
        await this.$api.saveEditedTask(id, task)
        this.getTask(id)
      } catch (error) {
        console.log(error)
      }
    },
    toggleEditMode () {
      this.isEditMode = !this.isEditMode
    },
    submitTaskForm () {
      if (this.isEditMode) {
        const task = {
          title: this.task.title,
          priority: this.task.priority,
          dueBy: this.taskDueBy / 1000
        }
        this.saveEditedTask(this.taskId, task)
        this.toggleEditMode()
      }
    }
  },
  created () {
    this.getTask(this.taskId)
  }
}
</script>

<style>
.tasks-table td {
  vertical-align: top;
}
</style>
