<template>
  <button @click="goBack" class="back-button">
    ← <slot />
  </button>
</template>

<script>
export default {
  methods: {
    goBack () {
      this.$router.back()
    }
  }
}
</script>

<style>
.back-button {
  border: 0;
  background-color: transparent;
  padding: 0;
}
</style>
