<template>
  <button class="button">
    <slot />
  </button>
</template>

<script>
export default {

}
</script>

<style>
.button {
  border: 0;
  color: #ffffff;
  border-radius: 3px;
  text-align: center;
  background-color: teal;
  text-transform: uppercase;
  padding: 8px 12px;
}
.button:hover {
  background-color: rgb(24, 100, 100);
}
</style>
