<template>
  <div class="input-group">
    <label :for="id" class="input-group__label">
      {{ label }}
    </label>
    <input :type="type" class="input-group__input" :id="id" v-model="innerData" :required="isRequired">
  </div>
</template>

<script>
export default {
  model: {
    prop: 'modelValue',
    event: 'input'
  },
  props: {
    type: {
      type: String,
      default: 'text'
    },
    label: {
      type: String
    },
    modelValue: {
      type: String,
      default: undefined
    },
    model: {},
    required: {
      type: Boolean,
      default: undefined
    },
    autocomplete: {}
  },
  data () {
    return {
      innerData: '',
      id: ''
    }
  },
  watch: {
    innerData () {
      this.$emit('input', this.innerData)
    }
  },
  computed: {
    isRequired () {
      if (typeof this.required === 'undefined') {
        return false
      } else {
        return 'required'
      }
    }
  },
  mounted () {
    this.innerData = this.modelValue
    this.id = this._uid
  }
}
</script>

<style>
.input-group {
  margin: 0 0 20px;
  position: relative;
}
.input-group__label {
  display: inline-block;
  margin-bottom: 0.25em;
}
.input-group__input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 3px;
  border: 1px solid #DDD;
}
</style>
