<template>
  <div class="tasks-table-wrapper">
    <table class="tasks-table" v-if="isTasksExists">
      <thead>
        <tr>
          <th @click="changeSort" class="tasks-table__title">
            Title <span v-if="isAsc">↑</span><span v-else>↓</span>
          </th>
          <th>
            Date
          </th>
          <th>
            Priority
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="task in tasks" :key="task.id">
          <td>
            <router-link :to="`${task.id}`">
              {{ task.title }}
            </router-link>
          </td>
          <td>
            {{ task.dueBy | shortDate }}
          </td>
          <td>
            {{ task.priority }}
          </td>
        </tr>
      </tbody>
    </table>
    <p class="status" v-else-if="isLoading">
      Loading...
    </p>
    <p class="status" v-else>
      There are no tasks here.
    </p>
  </div>
</template>

<script>
export default {
  data () {
    return {
      tasks: [],
      sort: 'asc',
      loadingStatus: ''
    }
  },
  computed: {
    isTasksExists () {
      return this.tasks.length > 0
    },
    isLoading () {
      return this.loadingStatus === 'loading'
    },
    isAsc () {
      return this.sort === 'asc'
    }
  },
  methods: {
    async getAllTasks () {
      try {
        this.loadingStatus = 'loading'
        const { data } = await this.$api.getAllTasks({
          sort: `title ${this.sort}`
        })

        this.tasks = data.tasks
      } catch (error) {
        console.log(error)
      } finally {
        this.loadingStatus = 'done'
      }
    },
    changeSort () {
      this.sort === 'asc' ? this.sort = 'desc' : this.sort = 'asc'
      this.getAllTasks()
    }
  },
  created () {
    this.getAllTasks()
  }
}
</script>

<style>
:root {
  --table-padding: 16px 24px;
}
.tasks-table-wrapper {
  background-color: #ffffff;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: var(--shadow);
}
.tasks-table {
  width: 100%;
  border-collapse: collapse;
}
.tasks-table th {
  text-align: left;
  font-weight: normal;
  border-bottom: 1px solid var(--grey);
  padding: var(--table-padding);
}
.tasks-table td {
  padding: var(--table-padding);
}
.tasks-table tr:hover td,
.tasks-table__title:hover {
  background-color: #fafafa;
  cursor: default;
}
.status {
  padding: var(--table-padding)
}
</style>
