<template>
  <article class="tasks-section">
    <header class="tasks-section__header">
      <h1>My tasks</h1>
      <c-button @click.native="gotoNewTask">Create new task</c-button>
    </header>

    <section class="tasks-section__wrapper">
      <TasksTable />
    </section>
  </article>
</template>

<script>
import CButton from '@/components/CButton'
import TasksTable from '@/components/TasksTable'

export default {
  components: {
    CButton,
    TasksTable
  },
  methods: {
    gotoNewTask () {
      this.$router.push({ name: 'newtask' })
    }
  }
}
</script>

<style>
.tasks-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>
