<template>
  <div id="app">
    <main>
      <router-view/>
    </main>
  </div>
</template>

<script>
export default {

}
</script>

<style>
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --grey: rgba(0,0,0,0.05);
  --shadow: 0 2px 4px rgba(0,0,0,0.2);
}

body {
  margin: 0;
  background-color: var(--grey);
  font-family: sans-serif;
}

main {
  max-width: 1100px;
  margin: auto;
  padding: 30px 0;
}
</style>
